@media screen and (-webkit-min-device-pixel-ratio: 0){
@font-face{
  font-family: Ailerons;
  src: url(Ailerons-Typeface.otf);
  font-style: normal;
  font-weight: normal;

}
}

@font-face{

  font-family:ascc;
  src: url(assc_thin.ttf);
}

body, html{
  height: 100%;
}

body{

  background-image: url("reds.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #110603;

  font-family: Ailerons;

}

 .hipster_font{
        font-family: "Abel";
    font-size: 36px;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
  }

  .nav-right-custom a{
    color: #ffffff;
    font-size: 16px;
  }

  .nav-right-custom a:hover{
    color: #9f5340;
    font-size: 16px;

  }

  .nav-right-custom >li a:hover{
    background-color: transparent;
  }

  .nav-brand-custom{
  color: #ffffff;
  font-size: 20px;
  }

  .nav-brand-custom:hover{
  color: #110603;
  font-size: 20px;

  }

  h1{

  font-size: 42px;
  line-height: 1.25em;


  }

  h3{
    color: #0c1215;
  }

  .transpbox{
    position: relative;
    top: 30px;
    border-radius: 10px;
    height: 20vh;
    background: -webkit-linear-gradient(top, rgba(255,255,255,.15), rgba(255,255,255,0.05) 17%,rgba(255,255,255,0.01) 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(255,255,255,.15), rgba(255,255,255,0.05) 17%,rgba(255,255,255,0.01)50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(255,255,255,.15), rgba(255,255,255,0.05) 17%,rgba(255,255,255,0.01)50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,255,255,.15), rgba(255,255,255,0.05) 17%,rgba(255,255,255,0.01)50%); /* Standard syntax (must be last) */
    text-align: center; 
    width: 70%;
    
    left: 50%;
    transform: translate(-50%);

  }

  .coolbox{
    position: absolute;
    top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 90%;
    padding-top:2px;
    padding-bottom: 2px; 
    border-radius: 10px;
    padding-left: 2px;
    
    background-color: rgba(255,255,255,.08);
    
   }

   .coolbox2{
    border-bottom: 2px solid #000;
    border-radius: 10px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);

    position: absolute;
    top: -5%;
  left: 50%;
  transform: translate(-50%, 5%);
   }

    .coolbox2_2{
    border-top: 2px solid #000;
    border-radius: 10px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);

    position: absolute;
    top: 34%;
  left: 160%;
  transform: translate(-160%, -34%);
  margin-bottom: 40px;
   }
    .coolbox2_3{
    border-top: 2px solid #000;
    border-radius: 10px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);

    position: absolute;
    top: 54%;
  left: -72%;
  transform: translate(72%, -54%);
  margin-bottom: 40px;
   }

   .coolbox2_4{
    border-top: 2px solid #000;
    border-radius: 10px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);

    position: absolute;
    top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  
   }


   .thin_font{
    font-family: ascc;
    color: #c1aba7;
    text-align: left;
   }

   .transpbox > a{
    color: #d6e0e7;
   }
.transpbox > a >h3:hover{
    /*color: #85716c;*/
    color: #93827e;
   }

   .transpbox > a >h3.cool:hover{
    border-color: #85716c;
   }

.fany_hr{
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.fany_hr_brown{
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


